<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="daemon" class="com.outbrain.pajamasproxy.memcached.server.MemCacheDaemon" destroy-method="stop">
    <constructor-arg ref="cacheProxy"/>
    <constructor-arg ref="eventLoopGroup"/>
    <constructor-arg ref="memcachedBinaryPipelineFactory"/>

    <property name="addr">
      <bean class="java.net.InetSocketAddress">
        <constructor-arg value="${pajamas.localPort}"/>
      </bean>
    </property>
  </bean>

  <bean id="memcachedBinaryPipelineFactory" class="com.outbrain.pajamasproxy.memcached.server.protocol.binary.MemcachedBinaryPipelineFactory">
    <constructor-arg ref="memcachedCommandHandler"/>
    <constructor-arg ref="memcachedBinaryResponseEncoder"/>
  </bean>

  <bean id="eventLoopGroup" class="io.netty.channel.nio.NioEventLoopGroup"/>

  <bean id="memcachedBinaryResponseEncoder" class="com.outbrain.pajamasproxy.memcached.server.protocol.binary.MemcachedBinaryResponseEncoder"/>

  <bean id="memcachedCommandHandler" class="com.outbrain.pajamasproxy.memcached.server.protocol.MemcachedCommandHandler">
    <constructor-arg ref="cacheProxy" />
    <constructor-arg value="1.4.14" /><!-- TODO pass this from maven? -->
    <constructor-arg value="${pajamas.deamon.verbose}" />
    <constructor-arg ref="commandQueue"/>
  </bean>    

  <bean id="commandQueue" class="com.outbrain.pajamasproxy.memcached.server.protocol.command.CommandQueueImpl"/>
</beans>
