<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <import resource="ApplicationContext-server.xml"/>
  <import resource="ApplicationContext-client.xml"/>
  <!-- TODO remove this when fully replaced by metrics -->
  <import resource="ApplicationContext-jmx.xml"/>
  <import resource="ApplicationContext-metrics.xml"/>
  
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="false"/>
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="location" value="file:#{ systemProperties['pajamas.properties'] }"/>
    <!-- default properties -->
    <property name="properties">
      <map>
        <entry key="pajamas.localPort" value="11511"/>
        
        <!-- jmemcached deamon config properties -->
        <entry key="pajamas.deamon.verbose" value="false"/>
        
        <!-- spymemcached client config properties -->
		    <entry key="pajamas.client.operationTimeout" value="5000"/>
		    <entry key="pajamas.client.timeoutExceptionThreshold" value="1998"/>
        <entry key="pajamas.client.protocol" value="BINARY"/>
        <entry key="pajamas.client.hashAlg" value="KETAMA_HASH"/>
        <entry key="pajamas.client.locatorType" value="CONSISTENT"/>
        <entry key="pajamas.client.usenagle" value="true"/>
        <entry key="pajamas.client.failureMode" value="Redistribute"/>
        
        <!-- JMX config properties -->
        <entry key="pajamas.jmx.http.port" value="8081"/>
        <entry key="pajamas.jmx.http.host" value="0.0.0.0"/>
      </map>
    </property>
  </bean>

</beans>
