<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="false"/>
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    <property name="location" value="file:#{ systemProperties['pajamas.properties'] }"/>
  </bean>

  <bean id="daemon" class="com.thimbleware.jmemcached.MemCacheDaemon">
    <constructor-arg ref="cacheProxy"/>
    <property name="binary" value="true"/>
    <property name="verbose" value="${pajamas.deamon.verbose}"/>
    <property name="addr">
      <bean class="java.net.InetSocketAddress">
        <constructor-arg value="${pajamas.localPort}"/>
      </bean>
    </property>
  </bean>

  <bean id="cacheProxy" class="com.outbrain.pajamasproxy.memcached.proxy.CacheProxy">
    <constructor-arg ref="cacheClientFactory"/>
  </bean>

  <bean id="cacheClientFactory" class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean">
    <property name="serviceLocatorInterface" value="com.outbrain.pajamasproxy.memcached.proxy.CacheClientFactory"/>
  </bean>

	<bean name="memcachedClient" class="net.rubyeye.xmemcached.utils.XMemcachedClientFactoryBean" destroy-method="shutdown">
		<property name="servers" value="${pajamas.remoteHosts}"/>
		<!-- nio connection pool size -->
		<property name="connectionPoolSize" value="${pajamas.client.connectionPoolSize}"/>
		<!-- Use binary protocol,default is TextCommandFactory -->
		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.BinaryCommandFactory"/>
		</property>
		<!-- Distributed strategy -->
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator"/>
		</property>
		<!-- This is the adapter between the jmemcached server and xmemcached client -->
		<property name="transcoder">
			<bean class="com.outbrain.pajamasproxy.memcached.adapter.CacheElementTranscoder" />
		</property>
	</bean>
	
	<!-- JMX -->
	<bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean">
    <property name="locateExistingServerIfPossible" value="true"/>
	</bean>
	
	<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter">
    <property name="beans">
      <map>
        <entry key="com.outbrain.pajamasproxy.memcached.monitor.Statistics:type=Statistics" value-ref="statisticsMBean"/>
      </map>
    </property>
    <property name="server" ref="mbeanServer"/>    
	</bean>
	
	<bean id="statisticsMBean" class="com.outbrain.pajamasproxy.memcached.monitor.Statistics">
    <constructor-arg ref="cacheProxy"/>
	</bean>
</beans>
